{#
    WSC Cookie Consent Template
    Include this in your base.html.twig before </body>

    Example usage:
    {% if sulu_cookie_consent_enabled() %}
        {{ sulu_cookie_consent()|raw }}
    {% endif %}
#}
{{ sulu_cookie_consent()|raw }}
